[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "FiRE"]
	path = FiRE
	url = https://github.com/cran/FiRE
	shallow = true
	registered = true
